@import "./utilities/extends";
@import "./utilities/variables";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./mq/mq";

/* Estilos Generales */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif !important;
}

.logotipo{
    width: 5rem; /*Usamos rem para que se escale correctamente (un tema de mantener las proporciones consistentes, 1rem=16px)*/
    height: 5rem;
}

ul{
    @extend %flexColumn;
    list-style: none; /*Le saca las pelotitas a la lista*/
    gap: 1rem;
}





