/* Estilos Mains */



/*SUCURSALES*/



/*PRODUCTOS*/
.ultimos-modelos-titulo{
    text-align: center;
    margin: $size 0;
}
.card-auto{
    width: 25rem; 
    background-color: rgba(0, 0, 0, 0.082);
    transition: transform 0.5s;
    @extend %btnCard;
}
.card-auto:hover{
    transform: scale(1.02);
}
.card-auto img{
    border: 0.5rem;
}
.card-auto h3, .card-auto p{
    margin-left: $size;
}
.card-auto-btm{
    border: none;
    padding: 8px;
    font-weight: 800;
    margin-top: 0.5rem;
    text-transform: uppercase; 
    @extend %btnCard;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.26)
}
.ultimos-modelos-container{
    @extend %flexWrap;
    gap: $size;
}